.aboutus {
  width: 90%;
  margin: 0 5% 0 5%;
  display: flex;
}

.aboutus .imageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus .imageContainer .image {
  width: 90%;
  height: 85%;
  border-radius: 15px;
}

.aboutus .contentContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutus .contentContainer h1 {
  font-weight: 600;
  color: #000;
}

.aboutus .contentContainer .content {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .aboutus {
    flex-direction: column;
  }

  .aboutus .imageContainer {
    width: 100%;
  }

  .aboutus .contentContainer {
    width: 100%;
  }
}
