.wrapper {
  /* background-color: aquamarine; */
  height: 100vh;
  padding: 50px;
  display: flex;
}

.cardWrapper {
  background-color: rgb(226, 234, 243);
  width: 20rem;
  height: 6rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 5px slategray;
  cursor: pointer;
  margin-right: 20px;
}

.cardWrapper .image {
  width: 5rem;
  height: 5rem;
  background-color: rgb(197, 213, 230);
  border-radius: 20px;
  margin-right: 10px;
}

.cardWrapper h3 {
  font-weight: 500;
}
