/*  */
.contactBody {
  background: linear-gradient(
    90deg,
    #0e3959 0%,
    #0e3959 30%,
    #03a9f5 30%,
    #03a9f5 100%
  );
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.contactUs .title h2 {
  color: #fff;
  font-weight: 500;
}

.form {
  grid-area: form;
}
.info {
  grid-area: info;
}
.map {
  grid-area: map;
}

.contact {
  padding: 10px 30px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 9fr 8fr;
  grid-template-areas:
    "form info"
    "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contact h3 {
  color: #0e3959;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
  font-family: "poppins", sans-serif;
}

/* form  */
.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #18b7ff;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  /* catch */
  background-color: #fff;
  color: black;
}

.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
  background-color: #fff;
  color: black;
}

.inputBox input[type="submit"] {
  background: #ff578b;
  color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.inputBox input[type="submit"]:hover {
  background: #0e3959;
  transform: scale(1.09);
}

.inputBox ::placeholder {
  color: #999;
}

/* info */
.info {
  background: #0e3959;
}

.info h3 {
  color: #fff;
}

.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #18b7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.info .infoBox div p {
  color: #fff;
  font-size: 1.1em;
  margin-top: 15px;
}

.info .infoBox div a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}

.info .contactTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.social {
  margin-top: 20px;
  display: flex;
  padding: 0;
  justify-content: center;
}

.social li {
  list-style: none;
  margin-right: 15px;
}

.social li a {
  color: #fff;
  font-size: 2em;
  color: #ccc;
}

.social li a:hover {
  color: #fff;
}

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

/* responsive design */
@media screen and (max-width: 991px) {
  .contactBody {
    background: #03a9f5;
  }
  .contactUs {
    padding: 20px;
  }
  .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
  }

  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }
  .contact {
    padding: 30px;
  }
  .map {
    min-height: 300px;
    padding: 0;
  }
}

.box .contact {
  border-radius: 20px;
}

.box .map iframe {
  border-radius: 20px;
}
