@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300&family=Open+Sans:wght@500&family=Poppins&display=swap");

* > * {
  font-family: "Atma", cursive;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
