@keyframes vibrating {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.vibratingPhoneIcon {
  animation-name: vibrating;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  margin-right: 10px;
}

.brandName {
  font-weight: 600;
  margin-top: 10px;
  margin-left: 15px;
  font-size: 20px;
}

@media screen and (max-width: 406px) {
  .brandName {
    font-size: 16px;
  }
}
@media screen and (max-width: 355px) {
  .toggle {
    margin-left: -20px;
  }
  .brandName {
    margin-left: 5px;
  }

  .brandLogo {
    display: none;
  }
}
